./QEMU/qemu/core.*
./QEMU/qemu/build/
./QEMU/qemu/GNUmakefile
./QEMU/qemu/.cache/
./QEMU/qemu/.vscode/
./QEMU/qemu/*.pyc
./QEMU/qemu/.sdk
./QEMU/qemu/.stgit-*
./QEMU/qemu/.git-submodule-status
./QEMU/qemu/.clang-format
./QEMU/qemu/.gdb_history
./QEMU/qemu/cscope.*
./QEMU/qemu/tags
./QEMU/qemu/TAGS
./QEMU/qemu/GPATH
./QEMU/qemu/GRTAGS
./QEMU/qemu/GTAGS
./QEMU/qemu/*~
./QEMU/qemu/*.ast_raw
./QEMU/qemu/*.depend_raw
./QEMU/qemu/*.swp
./QEMU/qemu/*.patch
./QEMU/qemu/*.gcov